In [1]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')
student_data.shape[0]

1000

In [2]:
student_data.loc[155,'writing score']

88

In [4]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [5]:
student_data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [6]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [7]:
student_data[student_data['test preparation course']=='completed']['reading score'].mean()

73.89385474860335

In [11]:
student_data[student_data['lunch']=='free/reduced']['math score'].mean()

58.92112676056338

In [12]:
student_data[student_data['lunch']=='standard']['math score'].mean()

70.03410852713178

In [10]:
student_data[student_data['math score'] == 0].shape[0]

1

In [13]:
student_data["parental level of education"].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [17]:
student_data[student_data['race/ethnicity']=='group A']['writing score'].median()-student_data[student_data['race/ethnicity']=='group C']['writing score'].median()

-6.0